//Profile config names for nf-core/configs
singularity {
    enabled = true
}

process {
    executor = 'slurm'
}

params {
    max_memory = 1800.GB
    max_cpus = 112
    max_time = 168.h
}

process {
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_INDEX' {
        cpus = 32
        memory = '128GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        cpus = 12
        memory = '24GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        cpus = 12
        memory = '78GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        cpus = 12
        memory = '36GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
        cpus = 12
        memory = '36GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
        cpus = 4
        memory = '24GB'
        time = '8h'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:STAR_GENOMEGENERATE_IGENOMES' {
        cpus = 24
        memory = '128GB'
        time = '8h'
    }
}


